.App {
  text-align: center;
}
.app-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5rem; /* shorthand property for grid-column-gap and grid-row-gap */
  border: 3px black solid;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 400px;
}

.app-grid > div {
  border: 1px solid lightgrey;
  text-align: center;
}

.app-grid__player-box {
  background: red !important;
  grid-column: span 3;
}

.app-grid__season {
  background: skyblue !important;
  grid-column: span 3;
}

.app-grid__games_played {
  background: lightcyan !important;
  grid-column: span 2;
}

.app-grid__points_total,
.app-grid__rebounds_total,
.app-grid__assists_total {
  background: yellow !important;
  font-weight: bold;
  /* purposely hidden to not see what I do */
  visibility: hidden;
}

.header {
  font-weight: bold;
}

.app-grid__games {
  font-weight: bold;
  background: lightcyan !important;
}
