.App {
  text-align: center;
}
.app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem; /* shorthand property for grid-column-gap and grid-row-gap */
  border: 3px black solid;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 400px;
}

.app-grid > div {
  border: 1px solid lightgrey;
  text-align: center;
}

.app-grid__player-box {
  display: flex;
  border: 2px solid darkslategrey !important;
  grid-column: span 3;
  height: 200px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 10px;
}

.french-flag {
  display: block;
  width: 20px;
  height: 20px;
}

.nationality {
  display: flex;
}

.app-grid__player-box .boubou-image {
  height: 100%;
}

.app-grid__season {
  background: skyblue !important;
  grid-column: span 3;
}

.app-grid__header {
  grid-column: span 3;
  font-weight: bold;
  background: yellow !important;
}

.app-grid__games_played {
  background: lightcyan !important;
  grid-column: span 2;
}

.app-grid__totals,
.app-grid__average {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.25rem;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.app-grid__totals {
  /* background: orange !important; */
  /* font-weight: bold; */
  border-bottom: 1px double darkgrey;
}

.app-grid__average {
  /* purposely hidden to not see what I do */
  /* visibility: hidden; */
}

.app-grid__games {
  font-weight: bold;
  background: lightcyan !important;
}
