html,
body {
  background: antiquewhite;
  position: relative;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}
.app-grid {
  display: grid;
  background: white;
  grid-template-columns: repeat(3, 1fr);
  border: 3px black solid;
  padding: 0.5rem;
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 420px) {
  .app-grid {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .app-grid {
    font-size: 12px;
  }
}

.app-grid > div {
  text-align: center;
}

.app-grid__player-box {
  display: flex;
  border: 2px solid darkslategrey !important;
  grid-column: span 3;
  height: 200px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 10px;
}

.french-flag {
  display: block;
  width: 20px;
  height: 20px;
}

.nationality {
  display: flex;
}

.app-grid__player-box .boubou-image {
  height: 100%;
}

.app-grid select {
  background: skyblue !important;
  grid-column: span 3;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.app-grid__header {
  grid-column: span 3;
  font-weight: bold;
  background: yellow !important;
  margin-top: 15px;
  border: 1px solid black;
}

.app-grid__games_played {
  background: skyblue !important;
  grid-column: span 2;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.app-grid__totals,
.app-grid__average {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.25rem;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.app-grid__points.header,
.app-grid__rebounds.header,
.app-grid__assists.header {
  margin-top: 15px;
}

.app-grid__points,
.app-grid__rebounds,
.app-grid__assists {
  border: 1px solid lightgrey;
}

.app-grid__totals {
  /* background: orange !important; */
  /* font-weight: bold; */
  border-bottom: 1px double darkgrey;
}

.app-grid__average {
  /* purposely hidden to not see what I do */
  /* visibility: hidden; */
}

.app-grid__games {
  font-weight: bold;
  background: skyblue !important;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
